---
---

<section class="relative bg-white overflow-hidden min-h-screen flex items-center">
  <div class="container mx-auto px-6 relative z-10">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      <!-- Left Content -->
      <div class="space-y-6">
        <h1 class="text-2xl sm:text-xl md:text-2xl lg:text-3xl text-green-dark leading-tight mb-4 md:mb-6">
          Planes
          <br>
          <span class="text-dark-gray sm:text-3xl md:text-4xl lg:text-5xl font-semibold">Necesidad Inmediata</span>
        </h1>
        
        <p class="text-base md:text-lg text-dark-gray/80 leading-relaxed mb-6 md:mb-8">
          En Camposanto Colinas de la Paz, estamos contigo en el momento más  difícil: cuando una pérdida inesperada crea una necesidad inmediata. Nos encargamos de todo: te acompañamos de inmediato, coordinamos cada detalle y resolvemos tus dudas con sensibilidad y eficacia.

        </p>
      </div>

      <!-- Right Image -->
      <div class="relative">
        <div class="relative overflow-hidden">
          
          <div class="relative bg-white">
            <img 
              src="/images/need/needhero.webp" 
              alt="Necesidad Inmediata" 
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
