---
---

<section class="py-12 bg-green-primary/8 mx-auto max-w-2xl rounded-3xl">
  <div class="px-8 text-center">
    <div class="w-full mx-auto">
      <div class="mb-4 mx-auto">
        <h2 class="text-3xl md:text-4xl font-bold text-green-dark mb-0">
          Siempre estamos aquí para usted.
        </h2>
        <p class="text-dark-gray text-sm font-light">
          En nuestros momentos más difíciles, es cuando más necesitamos el apoyo y la cercanía. 
          Nuestros asesores están listos para brindarle la orientación y el acompañamiento que necesita.
        </p>
      </div>
      <div>
        <button class="text-dark-gray font-medium px-6 py-2 rounded-lg border border-dark-gray shadow-sm hover:shadow-md hover:bg-gray-50 transition-all duration-300">
          Agenda una cita
        </button>
      </div>
    </div>
  </div>
</section>
